@tailwind base;
@tailwind components;
@tailwind utilities;


/* globals.css */
:root {
  --font-geist-sans: "Geist Sans", sans-serif;
  --font-geist-mono: "Geist Mono", monospace;
  --font-great-vibes: "Great Vibes", cursive;
}

body {
  font-family: var(--font-geist-sans);
}

h1 {
  font-family: var(--font-great-vibes);
}

code {
  font-family: var(--font-geist-mono);
}
